#Vivado Ignore

*.sim/
*.runs/
*.ip_user_files/
*.hw/
*.cache/

### The following 2 lines looks in the 'ip' directory and ignores all except the .xci file
fsm_firmware_project.srcs/sources_1/ip/
!*.xci

*.jou
*.log
*.debug
*.str
*.zip
*.tmp
*.rst
*.os
*.js
*.pb
*.dcp
*.hwdef
*.vds
*.veo
*.wdf
*.vdi
*.dmp
*.rpx
*.rpt
*_stub.v
*_stub.vhdl
*_funcsim.v
*_funcsim.vhdl

### Other ###
*~
*#
